{{- $routingMode := .Values.global.ingress.routingMode | default "subdomain" }}
{{- $domain := .Values.global.domain | default "localhost" }}
{{- $protocol := ternary "https" "http" .Values.global.ingress.tls }}
{{- $authServerPath := .Values.global.ingress.paths.authServer | default "/auth-server" }}
{{- $keycloakPath := .Values.global.ingress.paths.keycloak | default "/keycloak" }}
{{- $keycloakBaseUrl := printf "http://%s-keycloak-headless.%s.svc.cluster.local:8080" .Release.Name .Release.Namespace }}
{{- $keycloakUrl := $keycloakBaseUrl }}
{{- $authServerExternalUrl := "" }}
{{- if eq $routingMode "path" }}
  {{- $keycloakUrl = printf "%s%s" $keycloakBaseUrl $keycloakPath }}
  {{- $authServerExternalUrl = printf "%s://%s%s" $protocol $domain $authServerPath }}
{{- else }}
  {{- $authServerExternalUrl = printf "%s://auth-server.%s" $protocol $domain }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-configure-secret
  namespace: {{ .Release.Namespace | quote }}
data:
  KEYCLOAK_ADMIN: {{ .Values.keycloak.adminUser | b64enc | quote }}
  KEYCLOAK_ADMIN_URL: {{ $keycloakUrl | b64enc | quote }}
  KEYCLOAK_URL: {{ $keycloakUrl | b64enc | quote }}
  REALM: {{ .Values.keycloak.realm | b64enc | quote }}
  AUTH_SERVER_EXTERNAL_URL: {{ $authServerExternalUrl | b64enc | quote }}
