apiVersion: v1
kind: Secret
metadata:
  name: mongo-credentials
  namespace: {{ .Release.Namespace | quote }}
data:
  DOCUMENTDB_DATABASE: {{.Values.mongodb.database | b64enc | quote}}
  DOCUMENTDB_HOST: {{ if contains "." .Values.mongodb.host }}{{ .Values.mongodb.host | b64enc | quote }}{{ else }}{{ printf "%s.%s.svc.cluster.local" .Values.mongodb.host .Release.Namespace | b64enc | quote }}{{ end }}
  DOCUMENTDB_NAMESPACE: {{.Values.mongodb.namespace | b64enc | quote}}
  DOCUMENTDB_PASSWORD: {{.Values.mongodb.password | b64enc | quote}}
  DOCUMENTDB_PORT: {{.Values.mongodb.port | toString | b64enc | quote}}
  DOCUMENTDB_REPLICA_SET: {{.Values.mongodb.replica_set | b64enc | quote}}
  DOCUMENTDB_USERNAME: {{.Values.mongodb.username | b64enc | quote}}
  DOCUMENTDB_USE_TLS: {{.Values.mongodb.use_tls | toString | b64enc | quote}}
  STORAGE_BACKEND: {{.Values.mongodb.storage_backend | b64enc | quote}}
type: Opaque
